/* main-section */

.main-section {
    padding: 272px 0;
    background-image: linear-gradient(103deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.60) 58.46%, rgba(18, 18, 17, 0.00) 90.36%), url('../img/main-section/main-section-bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    &__button {
        display: none;

        @media screen and (max-width: $mdesktop) {
        display: block;
        margin: 0 auto;        
        }
    }

    @media screen and (max-width: $tablet) {
        padding: 124px 0;
    }
}

.main__title {
    font-size: 128px;
    font-weight: 900;
    line-height: 1.5;
    color: #FAF4EA;  
    
    @media screen and (max-width: 1299px) {            
                font-size: 96px;
                text-align: center;            
        }
    
        @media screen and (max-width: $mdesktop) {             
                font-size: 80px;            
        }

         @media screen and (max-width: $phone) {             
                font-size: 56px;            
        }
}

.main__title span {
    color: #819B57;
}
