/* modal */

.backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    transition: opacity 0.3s;
    transition: visibility 0.3s;
    z-index: 1000;
    padding: 0 20px;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    background-color: #FAF4EA;
    border-radius: 32px;

    @media screen and (max-width: $tablet) {
        padding: 64px 48px;
    }

    &__body {
        max-width: 624px;
        margin: 0 auto;
        padding-top: 128px;

        @media screen and (max-width: $mdesktop) {
            padding-top: 78px;
        }

         @media screen and (max-width: $tablet) {
            padding-top: 48px;
        }
    }

    &__title {
        text-align: center;
        color: #31261a;
        font-size: 62px; 
        font-weight: 900;
        line-height: 84px;
        margin-bottom: 8px;

        @media screen and (max-width: $mdesktop) {
            font-size: 48px;
        }

        @media screen and (max-width: $tablet) {
            font-size: 38px;
        }

        @media screen and (max-width: $phone) {
            font-size: 28px;
        }
    }

    &__text {
        color: #465929;
            font-size: 18px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            text-align: center;
    }

    &__contact-form {
        max-width: 605px;
        padding-top: 72px;

        @media screen and (max-width: $tablet) {
            margin: 0 auto;
            padding: 42px 10px 10px;
        }
    }

    &__form-field {
        padding: 10px 32px;
        margin-bottom: 32px;
    }

    &__form-terms {
        padding-top: 24px;
    }      

    &__content::after {
        position: absolute;
        width: 194px;
        height: 225px;
        bottom: 21px;
        right: 0;
        content: '';
        background-image: url('../img/modal/modal-img.png');
        background-repeat: no-repeat;
        @media screen and (max-width: $phone){
            display: none;
        }

    }

    
    &__close {
        position: absolute;
        top: 48px;
        right: 48px;
        cursor: pointer;        
    }

    &__close img {
        width: 16px;
        height: 16px;
        transition: all 0.3s;
    }

    &__close img:hover {
        transform: scale(1.1);
    }
}






